matplotlib
python-dotenv
azure-ai-agents>=1.1.0b4
azure-ai-projects>=1.0.0b12
ipykernel
autogen_agentchat 
autogen_core 
autogen_ext
tiktoken
openai
azure-identity
semantic-kernel
smolagents
ipywidgets
# MCP
mcp[cli]
aiohttp
fastapi
semantic-kernel[mcp]